################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/GestionDepenses/bin/Debug/net8.0
/GestionDepenses/obj
